# Игнорировать служебные папки Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/
/[Rr]ecordings/
/[Pp]lastic/

# Игнорировать кеш пакетов, но НЕ исключать папку Packages целиком
/Packages/PackageCache/
!/Packages/manifest.json
!/Packages/packages-lock.json

# Обязательно НЕ игнорировать папку Assets и все .meta файлы в ней
!/Assets/**
!/Assets/**/*.meta

# Не игнорировать ProjectSettings и .meta файлы там
!/ProjectSettings/**
!/ProjectSettings/**/*.meta

# Не игнорировать .meta файлы нигде в проекте
!*.meta

# Игнорировать временные и проектные файлы IDE
*.csproj
*.sln
*.user
*.userprefs
*.tmp
*.bak
*.pidb

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать билды и пакеты
*.apk
*.unitypackage
