# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]lastic/
[Mm]emory[Cc]aptures/
[Rr]ecordings/
[Tt]estResults/

# Игнорировать кэш пакетов, но НЕ папку Packages/
Packages/PackageCache/
Packages/com.unity.collab-proxy/

# Не игнорировать main файлы пакетов
!Packages/manifest.json
!Packages/packages-lock.json

# Не игнорировать Assets — тут ваши сцены и объекты
!Assets/
!Assets/**/*.meta

# Не игнорировать ProjectSettings
!ProjectSettings/
!ProjectSettings/**/*.meta

# Не игнорировать .meta-файлы нигде
!*.meta

# Игнорировать ненужные файлы
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.bak
*.swp

# OS specific files
.DS_Store
Thumbs.db
